$w: #FFFFFF;
$g: #999999;
$gg: #434A54;
$font-b: bold;
.leftside {
  display: table-cell;
  width: 300px;
  height: 100vh;
  font-weight: $font-b;
  .left-header{
      background-color: #253141;
      height: 82px;
      padding: 0 20px;
      &__name{
        display: inline-block;
        font-size: 16px;
        color: $w;
        padding: 30px 0 0 0;
      }
        .icon{
          font-size: 16px;
          font-weight: $font-b;
          color: $w;
          float: right;
          padding: 35px 0 0 5px;
        }
  }
  .left-bottom{
      background-color: #2f3e51;
      height: calc(100vh - 82px);
      text-decoration: none ;
      overflow: scroll;
        &__name{
          font-size: 15px;
          padding: 20px 0 0 20px;
          color: $w;
        }

        &__message{
          font-size: 11px;
          padding: 5px 0 0 20px;
          color: $w;
        }    
  }
}


.rightside{
  display: table-cell;
  width: calc(100vw - 300px);
  height: 100vh;
  .right-top{
    height: 82px;
      &__button{
        border: 1px solid #38AEF0;
        color: #38AEF0;
        float: right;
        height: 40px;
        line-height: 40px;
        margin-top: 28px;
        margin-right: 40px;
        padding: 0 20px;
      }
      &__group{
        font-size: 20px;
        color: #333333;
        padding: 25px 0 0 40px;
      }
      &__info{
        font-size: 12px;
        color: $g;
        padding: 10px 0 0 40px;
      }
    }
    .right-midle{
    	border: 1px solid #eeeeee;
      background-color: #fafafa;
      padding: 46px 40px;
      height: calc(100vh - 266px);
      overflow: scroll;
      .right-item{
        padding-bottom: 40px;
        &__message{
          color: #434A54;
          font-size: 14px;
          margin-bottom: 10px;
        }
      }
			&__info{
				display: flex;
        flex-wrap: nowrap;
        padding-bottom: 10px;
				&--name{
					color: #434A54;
					font-size: 16px;
					font-weight: $font-b; 
				}
        &--date{
          font-size: 12px;
          float: right;
          color: $g;
          padding-left: 10px
        }

      }
    }
    .text{
      width: calc(100vw-300px);
      height: 50px;
      background-color: #DDDDDD;
      padding: 20px 50px 20px 40px;
      &__message{
        border: none;
        float: left;
        height: 50px;
        width: calc(100% - 200px);
      }
      &__image {
        background-color: $w;
        float: left;
        border: none;
        font-size: 20px;
        line-height: 50px;
        padding: 10px 0 0 0 0;
        width: 30px;
      }
        .hidden {
          display: none;
        }
      &__send{
        display: inline-block;
        background-color: #38AEF0;
        color: $w;
        border: none;
        font-size: 16px;
        height: 50px;
        width: 100px;
        float: right;
      }

    }




}